.login-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 51px);


    h2 {
        font-size: 1em;
    }


    .left-column {
        background-size: cover;
    }

    .right-column {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f6f6f6;
    }
}

.login {
    padding: 8em;
}